body {
    overflow-y: scroll;
    overflow-x: hidden;
}
main {
    display: block;
    padding-bottom: 40px;
}

.navbar .nav {
    margin-top: 3px;
}

.navbar .navbar-text {
    float: right;
    line-height: 1;
    margin-top: 12px;
}

.hero-unit {
    background-color: #fff;
    padding: 20px 0;
    margin-bottom: 0;
}

.hero-unit h1 {
    font-size: 84px;
    margin-bottom: 10px;
    display: inline-block;
}

.hero-unit h2 {
    display: inline-block;
    font-size: 56px;
    line-height: 1.5;
}

.hero-unit .icon-checkbox-checked {
    position: relative;
    top: 6px;
}

.sidebar-nav {
    padding: 9px 0;
}

.btn [class^=icon-] {
    margin-left: 6px;
}

table .align-middle {
    vertical-align: middle;
}

section {
    padding-top: 42px;
}

.nav .dropdown:hover .dropdown-menu {
    display: block;
    top: 96%;
}

footer {
    padding: 20px 0;
}

.inline-block { 
    display: inline-block;
}

form .alert-success {
    visibility: hidden;
}

h5.method {
    font-size: 16px;
    line-height: 1.8;
}
